.chat{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    width: 70%;
    grid-gap: 15px;
}
.message-from, .message-to{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
    background-color: skyblue;
    padding: 15px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 25px;
}
.message-to{
    background-color: pink;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 25px;
}
.recipient, .sender{
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    margin: 0px;
    padding: 0px;
    text-align: left;
}
.sender p{
    text-align: right;
}
.timeUserMessage{
    color: darkgrey;
} 