*{
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    width: 80px;
    height: 100vh;
    background-color: #878787;
    transition: 1s;
    color: white;
    overflow: hidden;
}

nav:hover {
    width: 205px;
}

p {
    padding: 30px;
}

main {
    padding-left: 110px;
    background-color: beige;
}

h1 {
    padding: 20px 0;
}

ul {
    list-style-type: none;
}

ul a {
    display: block;
    padding: 40px 80px; 
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: 15px;  
    color: white;
    text-decoration: none;
}

ul a:hover {
    background-color: #666666;
}

#edit {
    background-image: url('images/edit.png');
}

#favorites{
    background-image: url('images/favorites.png');
}

#history{
    background-image: url('images/history.png');
}

#security{
    background-image: url('images/security.png');
}

#settings{
    background-image: url('images/settings.png');
}
