*{
    margin: 0px;
    padding: 0px;
}
table{
    border-collapse: collapse;
    text-align: center;
}
td, th{
    padding: 30px; 
}
tr td:first-child, th{
    font-weight: bold;
    background-color: aqua;
}
thead tr {
    position: sticky;
    top: 0;
    z-index: 1;
} 
tr td:first-child{
    position: sticky;
    left: 0;
}
#main{
    position: sticky;
    left: 0;
}
tbody tr:nth-child(2n){
    background-color: aquamarine;
}
